<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>442866597320-o9ovja7dokairbhtklklglts0so17hb4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.442866597320-o9ovja7dokairbhtklklglts0so17hb4</string>
	<key>API_KEY</key>
	<string>AIzaSyCvtv_JXPh6FQY6ToifiMSBMdR36jMWdx0</string>
	<key>GCM_SENDER_ID</key>
	<string>442866597320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.aoi.sueki.BiBitto</string>
	<key>PROJECT_ID</key>
	<string>bibitto-37cdc</string>
	<key>STORAGE_BUCKET</key>
	<string>bibitto-37cdc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442866597320:ios:79cb839628f68108</string>
	<key>DATABASE_URL</key>
	<string>https://bibitto-37cdc.firebaseio.com</string>
</dict>
</plist>